Repository jakartaee/security, pull requests merged in 2024-02, with the labels that each got.

#308 Add conveniences
  tck/common/src/main/java/ee/jakarta/tck/security/test/ArquillianBase.java
  tck/common/src/main/java/ee/jakarta/tck/security/test/Assert.java
  tck/pom.xml
Labels: TCK, 4.0

#305 Address issues/297 TCK challenge for adding support for running Security 3.0 signature TCK tests on Java 21
  tck/signaturetest/src/test/java/ee/jakarta/tck/security/signaturetest/SigTestDriver.java
Labels: TCK, 4.0

#312 Add qualifiers to build-in authentication mechanism beans
  api/src/main/java/jakarta/security/enterprise/authentication/mechanism/http/BasicAuthenticationMechanismDefinition.java
  api/src/main/java/jakarta/security/enterprise/authentication/mechanism/http/CustomFormAuthenticationMechanismDefinition.java
  api/src/main/java/jakarta/security/enterprise/authentication/mechanism/http/FormAuthenticationMechanismDefinition.java
  api/src/main/java/jakarta/security/enterprise/authentication/mechanism/http/HttpAuthenticationMechanism.java
  api/src/main/java/jakarta/security/enterprise/authentication/mechanism/http/OpenIdAuthenticationMechanismDefinition.java
  tck/app-custom-authentication-mechanism-handler2/pom.xml
  tck/app-custom-authentication-mechanism-handler2/src/main/java/ee/jakarta/tck/security/test/BasicAuthenticationMechanism2.java
  tck/app-custom-authentication-mechanism-handler2/src/main/java/ee/jakarta/tck/security/test/BasicAuthenticationMechanism3.java
  tck/app-custom-authentication-mechanism-handler2/src/main/java/ee/jakarta/tck/security/test/CustomAuthenticationMechanismHandler.java
  tck/app-custom-authentication-mechanism-handler2/src/main/java/ee/jakarta/tck/security/test/ProtectedServlet1.java
  tck/app-custom-authentication-mechanism-handler2/src/main/java/ee/jakarta/tck/security/test/ProtectedServlet2.java
  tck/app-custom-authentication-mechanism-handler2/src/main/java/ee/jakarta/tck/security/test/ProtectedServlet3.java
  tck/app-custom-authentication-mechanism-handler2/src/main/java/ee/jakarta/tck/security/test/TestIdentityStore.java
  tck/app-custom-authentication-mechanism-handler2/src/main/webapp/WEB-INF/beans.xml
  tck/app-custom-authentication-mechanism-handler2/src/test/java/ee/jakarta/tck/security/test/AppCustomAuthenticationMechanismHandler2IT.java
Labels: authentication, 4.0

#313 Add tests for interaction between a Policy and Jakarta Security
  tck/app-mem-policy/pom.xml
  tck/app-mem-policy/src/main/java/ee/jakarta/tck/security/test/PolicyRegistrationListener.java
  tck/app-mem-policy/src/main/java/ee/jakarta/tck/security/test/ProtectedServlet.java
  tck/app-mem-policy/src/main/java/ee/jakarta/tck/security/test/TestAuthenticationMechanism.java
  tck/app-mem-policy/src/main/java/ee/jakarta/tck/security/test/TestIdentityStore.java
  tck/app-mem-policy/src/main/java/ee/jakarta/tck/security/test/TestPolicy.java
  tck/app-mem-policy/src/main/resources/empty.txt
  tck/app-mem-policy/src/main/webapp/WEB-INF/beans.xml
  tck/app-mem-policy/src/test/java/ee/jakarta/tck/security/test/AppMemPolicyIT.java
  tck/app-mem-policy2/pom.xml
  tck/app-mem-policy2/src/main/java/ee/jakarta/tck/security/test/PolicyRegistrationListener.java
  tck/app-mem-policy2/src/main/java/ee/jakarta/tck/security/test/ProtectedServlet.java
  tck/app-mem-policy2/src/main/java/ee/jakarta/tck/security/test/TestAuthenticationMechanism.java
  tck/app-mem-policy2/src/main/java/ee/jakarta/tck/security/test/TestIdentityStore.java
  tck/app-mem-policy2/src/main/java/ee/jakarta/tck/security/test/TestPolicy.java
  tck/app-mem-policy2/src/main/webapp/WEB-INF/beans.xml
  tck/app-mem-policy2/src/test/java/ee/jakarta/tck/security/test/AppMemPolicy2IT.java
  tck/common/src/main/java/ee/jakarta/tck/security/test/Assert.java
Labels: authorization, TCK, 4.0

#314 Make the custom principal Serializable.
  tck/app-securitycontext-customprincipal/src/main/java/ee/jakarta/tck/security/test/CustomPrincipal.java
Labels: TCK, 4.0

#316 Clarify the mandated behaviour of the mechanism handler.
  api/src/main/java/jakarta/security/enterprise/authentication/mechanism/http/HttpAuthenticationMechanismHandler.java
Labels: documentation

#317 Take qualifiers into account for decoration, add qualifier Any
  tck/app-mem-basic-decorate/src/main/java/ee/jakarta/tck/security/test/AuthenticationMechanismDecorator.java
Labels: TCK, 4.0

#318 Add new test modules to main pom
  tck/pom.xml
Labels: TCK, 4.0
